/* RESET STYLE */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
  }
  
  body {
    line-height:1;
  }
  
  ul, ol {
    list-style:none;
  }
  
  blockquote, q {
    quotes:none;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
  }
  
  table {
    border-collapse:collapse;
    border-spacing:0;
  }

  /* RESET END */

  body {
      background-image: url('../images/background-carnival.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 -150px;
      font-family: 'Indie Flower', cursive;
  }

  #happy-birthday-img {
      height: 400px;
      position: absolute;
      left: 330px;
      cursor: pointer;
      z-index: 999;
  }

  .hidden {
      display: none;
  }

  #main {
      height: 550px;
      width: 900px;
      position: absolute;
      top: 140px;
      left: 270px;
      border: 1px solid red;
  }

  .container-text {
      box-sizing: border-box;
      border: 1px solid green;
      width: 600px;
      height: 400px;
      margin: 70px 0 0 150px;
      text-align: center;
      font-size: 30px;
      padding: 10px 0;
      line-height: 45px;
  }

  .btn {
    width: 150px;
    height: 60px;;
    position: relative;
    /* left: 370px; */
    font-size: 30px;
  }

